# GCP Credentials
GOOGLE_APPLICATION_CREDENTIALS=cred.json
GOOGLE_PROJECT_ID=teste-engenheiro-dados

# GCP BigQuery Datasets
RAW_DATASET_ID=psa_raw
PROCESSED_DATASET_ID=psa_curated
ANALYTICS_DATASET_ID=psa_analytics

# Source Data Paths
SOURCE_PATH_CLIENTES=dados/dados_clientes.csv
SOURCE_PATH_TAREFAS=dados/tarefas_projetos.json
SOURCE_PATH_PROJETOS=dados/dados_projetos.json
SOURCE_PATH_LOGS=dados/logs_sistema.html
SOURCE_PATH_NOTAS=dados/notas_fiscais.xml
SOURCE_PATH_ANALISES_TRIBUTARIAS=dados/analises_tributarias.txt

# Tables Names
TABLE_CLIENTES=clientes
TABLE_TAREFAS=tarefas_projetos
TABLE_LOGS=logs_sistema
TABLE_NOTAS=notas_fiscais
TABLE_ANALISES_TRIBUTARIAS=analises_tributarias

